
/* Feed */
.all-container {
  flex-direction: column;
  color: #025159;
}

.feed-left-section {
  width: 20%;
  height: 100vh;
  padding: 5% 0%;
  position: fixed;
  background-color: rgb(182, 179, 179);
}

.feed-right-section {
  width: 85%;
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-icon-aside {
  margin-top: -10%;
  width: 85%;
}

.feed-icon-aside-bottom{
  display: none;
}

.feed-welcome-user {
  color: #404040;
  font-size: 110%;
}

.feed-user-photo {
  margin-top: 8%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 20px rgba(10, 54, 37, 0.4);
}

.name-user {
  margin-top: -4%;
}

.feed-settings-container {
  margin-top: -7%;
  margin-bottom: 2%;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.feed-settings {
  margin-top: 12%;
  flex-direction: row;
  justify-content: center;
  
}

.feed-settings span{
  margin-left: 170%;
  color: #666666;
}

.feed-settings button {
  font-size: 100%;
  background-size:cover;
  height: 4.5vh;
  width: 4.5vh;
  margin-left:-50%;
}

.home-icon{
  background-image: url('./../../images/home-icon.png');
}

.perfil-icon{
  background-image: url('./../../images/config-icon.png');
}

.dark-icon{
  background-image: url('./../../images/dark-icon.png');
}

.singout-icon{
  background-image: url('./../../images/out-icon.png');
}

.modal-delete button {
  background-color: rgba(245, 245, 245, 0.815);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #025159;
  padding: 3px;
  margin: 7px;
}

.feed-settings button:hover {
  color: #404040;
}

.wrap {
  margin-top: 3%;
  width: 65%;
  height: 140px;
  overflow: hidden;
  z-index: 1;
}

.container-carousel a {
  margin-right: 2%;
}

.pictures {
  width: 90px;
  height: 90px;
  padding: 2%;
  border-radius: 50%;
  border-image-source: linear-gradient(to bottom, #025159, grey);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #f9e6e6, #c5e0c3),
    linear-gradient(to bottom, #025159, #f9e6e6);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.slider {
  margin-right: 2%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 2;
}

.slide-to-left,
.slide-to-right {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  top: calc(9%);
  left: 27%;
}

.slide-to-right {
  left: unset;
  right: 8%;
}

.publication-form {
  width: 66%;
  height: 170px;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  background-color: #025159;
  border-radius: 10px;
}

.feed-text-area {
  font-size: 110%;
  color: #025159;
  width: 90%;
  padding: 2%;
  border: 0 none;
  outline: 0;
  border-radius: 8px;
  margin-top: 3%;
  margin-left: 3%;
  text-align: justify;
  background-color: white;
}

.share-area-buttons {
  display: flex;
  flex-direction: row;
}

.publish-img-form-box {
  width: 15%;
}

.btn-form {
  border-radius: 10px;
  margin-left: 60%;
  padding: 1% 2%;
  outline: none;
  border: #666666 solid 0pt;
  background-color: whitesmoke;
  color: #025159;
  font-weight: 500;
  font-size: 85%;
}

.btn-form:hover {
  cursor: pointer;
}

.publish-img-btn {
  background-image: url("../../../images/picpic.svg");
  cursor: pointer;
  background-size: 36px 31px;
  background-position: center;
  width: 27px;
  height: 23px;
  border-radius: 8px;
  border: #025159 solid 1pt;
  margin-left: 3%;
}

.publish-img-btn:hover {
    background-image: url("../../../images/pic-img.gif");
    cursor: pointer;
    background-size: 38px 33px;
    background-position: center;
    width: 28px;
    height: 21px;
    border-radius: 8px;
    border: #025159 solid 1pt;
    margin-left: 3%;
}

.posts-container {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.div-postados {
  border-radius: 12px;
  width: 65%;
  min-height: 15%;
  margin-top: 2.5%;
  background-color: white;
  border: 1px solid #9dd8df;
}

.user-post {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: start;
  color: rgb(199, 190, 190);
  background-color: #025159;
  padding: 1%;
  border-radius: 5px 5px 0px 0px;
}

.user-data-post {
  width: 60%;
}

.data-post-id {
  text-align: end;
  margin-top: -7%;
  margin-right: 1%;
  margin-left: 60%;
  height: 30px;
}

.txt {
  min-height: 30px;
  padding: 0% 5%;
  overflow: auto; /*scrollbar*/
  margin-top: 4%;
  text-align: justify;
  justify-content: center;
  line-height: 1.5;
  font-size: 90%;
}

.likes-comments-bar {
  margin-bottom: 0.5%;
  margin-left: 1%;
  font-size: 3px;
  text-align: start;
  background-color: transparent;
  border-top: solid #ebeef0 1px;
  display: flex;
  flex-direction: row;
}

.icones {
  display: inline;
}

.edit-text-area {
  background-color: aliceblue;
  width: 100%;
  height: 60px;
  margin-top: -80px;
}

.delete-button {
  cursor: pointer;
  background-image: url("../../../images/trash-img.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: none;
}

.delete-button:hover {
    cursor: pointer;
    background-image: url("../../../images/trash.gif");
    background-color: transparent;
   
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: none;
}

.btn-edit {
  margin-top: 2%;
  cursor: pointer;
  background: url("../../../images/edit.png");
  background-size: 30px 30px;
  border-radius: 25px;
  margin-right: 3%;
  width: 30px;
  height: 30px;
  border: none;
}

.btn-edit:hover {
    margin-top: 2%;
    cursor: pointer;
    background: url("../../../images/edit-gif.gif");
    background-size: 30px 30px;
    border-radius: 25px;
    margin-right: 3%;
    width: 30px;
    height: 30px;
    border: none;
}

.f-20 {
  font-size: 12pt;
}

.comment-button {
  border-image-source: linear-gradient(to bottom, #3e6368, rgb(164, 205, 209));
  border-image-slice: 1;
  background-color: white;
  cursor: pointer;
  border-radius: 12px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.input-comment {
  width: 75%;
  padding: 1%;
  outline: none;
  border: gray solid 1pt;
  color: #025159;
  border-radius: 10px;
}

.delete-comment-btn {
  cursor: pointer;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSl62bFsz_S2GOE_r1I8i5jYxJ4jBuQ9ZhIaiqBe2Y7JiNKVtOBPYu4GqZmUj5EUvkCZ8&usqp=CAU");
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
}

.comments {
  display: none;
}

.btn-show-comments-div {
  cursor: pointer;
  background-image: url("../../../images/comentario.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-left: 78%;
  margin-top: 2%;
  border: none;
}

.comment-owner {
  text-align: start;
  margin-right: 37%;
  margin-left: -7%;
  color: #404040;
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

.comments-division {
  width: 90%;
  margin-left: 2%;
  opacity: 0.15;
}

.input-required {
  border: red, solid, 2pt;
}

/*ATÉ AQUI*/
#curtir {
  cursor: pointer;
  background-image: url("https://i.pinimg.com/originals/01/d4/c1/01d4c11077fd54ccad1a6f32b3df3adf.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: none;
}

#curtir:focus {
  background-image: url("https://i.pinimg.com/originals/70/73/8e/70738e54de752d8e8ff690847b2dddfb.jpg");
}

#comments {
  cursor: pointer;
  background-image: url("https://img.icons8.com/ios/452/comments.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: none;
}

.confirm-delete {
  width: 100%;
  height: 100%;
  padding: 250px 0px;
  background: rgba(241, 239, 239, 0.466);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 3;
  display: none;
}

.modal-delete {
  text-align: center;
  width: 300px;
  height: 150px;
  background: linear-gradient(600.92deg, #025159 50.15%, #cfdee9 100.44%);
  border: 1px solid #025159;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -350px;
  margin-left: -125px;
}

.modal-delete button:hover {
  background-color: whitesmoke;
}

.h1-modal {
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: 8%;
}

.img-po {
  max-width: 420px;
  max-height: 420px;
  margin-top: 5px;
}

.comments ul {
  list-style-type: none;
}

.feed-search-input {
  opacity: 0;
}

.like-btn {
  margin-top: 1.5%;
  margin-right: 1.5%;
  margin-left: 1%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.empty-like-btn {
 background-image: url("../../../images/green-like.png");
}

.empty-like-btn:hover {
    background-image: url("../../../images/empty-like.gif");
}
   
.full-like-btn {
  background-image: url("../../../images/like-btn.png");
}

#image_uploads {
  opacity: 0;
}

.feed-hide-url {
  opacity: 0;
}

.comment-content {
  padding: 0% 7% 0% 3%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.3;
  font-size: 90%;
}

.like-comment-btn {
  cursor: pointer;
  margin-right: 1%;
  margin-left: 80%;
  margin-top: -5%;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 0px !important;
}

.like-comment-value {
  font-size: 90%;
}

main.dark-mode {
  background-color:  rgb(30, 35, 41);
}

main.light-mode {
  background-color: #edeae5;
}

aside.dark-mode {
    background-color: #111;
 
  }
  
aside.light-mode {
    background-color: rgb(182, 179, 179);

  }
  
 #feed-left.dark-mode {
    width: 20%;
    height: 100vh;
    padding: 5% 0%;
    position: fixed;
    background-color: #111;
 
  }
  
#feed-left.light-mode {
    width: 20%;
    height: 100vh;
    padding: 5% 0%;
    position: fixed;
    background-color: rgb(182, 179, 179);
  }

@media screen and (max-width: 1024px) {
  .feed-settings-container {
    flex-direction: row;
    background-color: #ffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 11vh;
    border-top:rgb(182, 179, 179, 0.7) solid 1pt;
    margin-left: 21%;
    margin-bottom: 0%;

  }

  
  .feed-settings{
    flex-direction: column;
    margin: 5% 8% 0% 7%;
    padding-bottom: 3%;
  }

  .feed-settings span{
    display: none;
  }

  .feed-settings button{
    height: 4.5vh;
    width: 4.5vh;
  }

  .feed-left-section {
    height: 13vh;
    width: 16vh;
    border-top-left-radius: 110px; 
    border-top-right-radius: 110px;
    position: fixed;
    background-color: white;
    bottom: 0;
    margin-bottom: 0%;
    border-top: gray solid 1pt;
    z-index: 10;

  }

  .feed-icon-aside-bottom {
    display: block;
    height: 4vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
  }

  .feed-icon-aside-up{
    display: none;
  }

  .feed-user-photo{
    margin-top: -21%;
  }

  .feed-welcome-user{
    display: none;
  }

  .feed-right-section{
    width: 100%;
    margin: auto;
  }

  .wrap {
    margin: 2% auto;
    height: 11vh;
    width: 86%;
  }
  
  .pictures {
    height: 10vh;
    width: 10vh;
  }

  .slide-to-left, .slide-to-right{
    top: calc(5%);
    left: 2%;
  }

  .slide-to-right{
    right: 2%;
    left: unset;
  }
}

@media screen and (max-width: 780px) {
  .wrap{
    width: 80%;
  }

  .feed-left-section {
    height: 13vh;
    width: 20vh;
  }

  .feed-icon-aside-bottom{
    display: none;
  }

  .feed-settings{
    margin: 5% 0% 3% 10%;
  }

  .feed-settings-container {
    margin-left: 26%;
  }
}



@media screen and (max-width: 540px) {
  .feed-user-photo{
    width: 120px;
    height: 120px;
  }
  .feed-left-section{
    height: 12vh;
  }

  .slide-to-left, .slide-to-right{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 411px) {
  .feed-user-photo{
    width: 12vh;
    height: 12vh;
    margin-top: -26%;
  }

  .feed-left-section{
    height: 10vh;
    width: 16vh;
  }

  
  .feed-settings-container{
    margin-left: 29%;
  }

  .feed-settings{
    margin: 5% 0% 3% 8%;
  }

}

@media screen and (max-width: 320px) {
  .feed-user-photo{
    width: 10vh;
    height: 10vh;
    margin-top: -30%;
  }

  .feed-left-section {
    height: 7vh;
    width: 13vh;
  }

  .feed-settings{
    margin: 5% 0% 3% 7%;
  }

  .feed-settings-container{
    height: 8vh;
    margin-left: 27%;
  }

  .feed-settings button{
    height: 3vh;
    width: 3vh;
  }

}

