@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("./pages/login/login.css");
@import url("./pages/register/register.css");
@import url("./pages/feed/feed.css");
@import url("./pages/perfil/profile.css");


*{
  background-color: transparent;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #025159;
}

button {
  cursor: pointer;  
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

body {
  margin: 0%;
}

:root {
  --button-color: #025159;
  --bg--color: #edeae5;
  --error-color: #ff3333;
  --color-feed: #025159;
}


.button-submit button {
  width: 20%;
  padding: 2% 0%;
  background-color: #025159;
  color: white;
  border-radius: 25px;
}


