@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("./pages/login/login.css");
@import url("./pages/register/register.css");
@import url("./pages/feed/feed.css");


:root {
  --button-color: #025159;
  --bg--color: #edeae5;
}

body {
  margin: 0%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #025159;
  background-color: #edeae5;
}

.btn-profile-edit button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 25px;
  height: 32px;
  background-color: #025159;
  color: white;
  width: 30%;
  padding: 2% 2%;
  margin-bottom: 10%;
  border: solid 0pt;
}


.button-submit button {
  width: 20%;
  padding: 2% 0%;
  background-color: #025159;
  color: white;
  border-radius: 25px;
}

/*FIM*/
